.bt-prod{
box-shadow: 0;
font-weight: bolder;
margin: 3%;

}


.sub{
    background-color: rgb(226, 42, 42);
    width: 100%;
    text-align: center;
    color:antiquewhite;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
}




.add{
    background-color: rgb(226, 42, 42);
    width: 100%;
    text-align: center;
    color:antiquewhite;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}

.disabled{
    background-color: #9e9e9ec4;

}


.col.bt{
    padding: 0;
}


.floatButton{
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    background-color: brown;
    color:aliceblue;
    position:fixed;
    bottom: 10%;
}

.left{
    left:0
}


.right{
    right:0
}

