.productContainer{
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 0px 2px 0px 0px #4c4141;
    border-radius: 0% 0% 10% 10%;
    border: 1px solid rgb(170, 163, 163);
    border-top:0;
    display: flex;
    flex-direction: column;
}

.productImage{
    width: 100%;
    margin-bottom: 1%;
    padding-bottom: 5%;
    border-bottom: 1px solid #4c4141;
    padding:5%;
   
}

.productTitle{
    text-align: center;
    background-color:coral;
    top:0;
    border-radius: 50px 50px 0px 0px;
    font-weight: bold;
    color: aliceblue;
}

.count{

    margin-left: 2%;
    margin-top: 2%;
    font-size: xx-large;
    background-color: lightcoral;
    width: 50px;
    border-radius: 50%;
    color: aliceblue;
    text-align: center;
    text-justify: auto;

}